* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
}

.App {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
    color: #2cb67d;
}
.navbar__list {
    margin-left: auto;
    display: flex;
}
.navbar__item {
    list-style: none;
}
.navbar__link {
    margin-left: 15px;
    text-decoration: none;
    padding: 5px;
    transition: 0.2;
}
.active {
    background-color: #2cb67d;
    border-radius: 7px;
    color: #fff;
}
.navbar__link:hover {
    color: #2cb67d;
}
.active:hover {
    color: #fff;
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
/* === blog-preview === */
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview__title {
    font-size: 20px;
    color: #2cb67d;
    margin-bottom: 8px;
}

/* === blog-details === */
.blog-details__title {
    font-size: 20px;
    color: #2cb67d;
    margin-bottom: 10px;
}
.blog-details__body {
    margin: 20px 0;
}

.blog-details button {
    background: #2cb67d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
/* === create === */

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.create label {
    text-align: left;
    display: block;
}
.create h2 {
    font-size: 20px;
    color: #2cb67d;
    margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #2cb67d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* === Create Blog === */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.create label {
    text-align: left;
    display: block;
}
.create h2 {
    font-size: 20px;
    color: #2cb67d;
    margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #2cb67d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.create button:hover {
    background: #2fc486;
}
.not-found h2 {
    color: #2fc486;
}
.not-found__link {
    color: blue;
    text-decoration: underline;
}
